
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300&family=Inter+Tight&family=Meow+Script&family=Roboto&family=Sanchez&display=swap');

body{
    margin:0;
} 


/* NAVIGATION */

header{
    background-color: rgba(243,198,179,255);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}

#nav-group{
    margin-top: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 

header ul{ 
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    font-family: 'Roboto Slab', serif;
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    color:gray;
    letter-spacing: 0.2em ;
    }


header ul li a:hover{
    color: white;
    }


header ul li a::before {
    content:'';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin:right;
}


header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin:left;
}


#menuToggle{
    position: relative;  
    display: none;
    margin-left: 15px;
}






/* HOME SECTION */
.top-container{
    height: 100vh;
    width:100%;
    font-family: 'Sanchez', serif;
    background-image: url(https://i.pinimg.com/564x/68/37/b3/6837b3950b9af86553ac888763e3c9ef.jpg);
    background-size: cover;
}

.name{
    background-color: rgba(253,132,121,255);
    color: white;
    font-family: 'Dosis', sans-serif;
}


.btncontact{
    font-family: 'Inter Tight', sans-serif;
    border: none;
    border-radius: 20px;
    background-color: rgba(253,132,121,255);
    color: white;
    }

     
    
.btncontact:hover{
    background-color: gray;
}


/* ABOUT SECTION */
.about-container{
    font-family: 'Sanchez', serif;
    width:100%;
}

.about-container p{
    font-size:small;
}

.about-container .signature{
    font-family: 'Meow Script', cursive;
    font-size: 50px;
    text-align: right;  
}

.btn-cv{
    font-family: 'Inter Tight', sans-serif;
    border: none;
    border-radius: 20px;
    background-color: rgba(253,132,121,255);
    color: white;
    padding: 5px;      
}

.btn-cv:hover{
    background-color: gray;
}

.skills span:hover{
    color: gray;
    }
    

/* PORTFOLIO SECTION*/

.portfolio-container{
    font-family: 'Sanchez', serif;
    width:100%;
}


.project-container .project-preview{
    background-color: beige;
    color:  rgb(26, 35, 63);
    width:250px;
    height:auto;
    border-radius: 20px;
}

.project-cover{
    width: 100%;
    height: 190px;
    border-radius: 20px 20px 0 0;
}

.project-info{
font-family: 'Inter Tight', sans-serif;
}


.project-info p{
    text-align: center;
    font-size: medium;
}

.btn-visit {
    background-color: rgba(243,198,179,255); 
    color: rgb(96, 83, 83);
    text-decoration:none;
    font-size: smaller;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.btn-visit:hover{
    background-color: rgba(136, 148, 139, 0.724);
    color: rgb(96, 83, 83);
}



/* CONTACT SECTION */
.contact-container{
    width:100%;
}

.pic{
    height: 300px;
    width: 300px;
}

.contact-us{
    font-family: 'Inter Tight', sans-serif;
}

.second a{
    color: rgba(253,132,121,255);
}


.second a:hover{
    color: gray;
}

.second span{
    color: rgba(253,132,121,255);
}


.second span:hover{
    color: gray;
}


#message{
    font-family: 'Dosis', sans-serif;
    border-color: pink;
    border-style: solid;
    border-width: 2px;
}




.formdetails{
    color: black;
    padding: 20px;
    margin: 50px; 
    height: auto;
    border-radius: 30px;
    font-family: 'Inter Tight', sans-serif;
    font-size: small;
    width: auto;
}


.first span{
    font-family: 'Sanchez', serif;
    text-align: center;
    font-size:xx-large;
    color: black;
}

.first p{
    text-align: center;
}


.second {
    width:280px;
    height: 400px;
}


.input-field {
    padding: 5px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    border-color: pink;
    border-style:solid;
    font-family: 'Dosis', sans-serif;
    font-size: small;   
    }


.btnmessage{
    font-family: 'Inter Tight', sans-serif;
    border: none;
    border-radius: 20px;
    background-color: rgba(253,132,121,255);
    color: white;
    padding: 5px;
    
}

.btnmessage:hover{
    background-color: gray;

}

/* FOOTER */

.footer {
    width: 100%;
    /* height: auto; */
    text-align: center;
    background-color: rgba(243,198,179,255);
    font-size: small;
}


/* RESPONSIVE */

@media (max-width: 800px){
    
    /* NAVIGATION */
    #menuToggle{
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translate(30px);
        z-index: 10;
        left: 0;
        color: rgb(240, 241, 240);
        padding-top: 10px;
    }
    
    header .navigation{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left:100%;
    }


    header.active .navigation{
        top:50px;
        opacity: 1;
        visibility: visible;
        left:0;
        display: flex;
        flex-direction: column;
        background-color: rgba(243,198,179,255);
        width: 100%;
        height: calc (100vh - 80px);
        padding: 40px;
    }

    header.active .navigation li a {
       font-size: 1.25em; 
    }

}